body {
    background-color: wheat;
}


header, footer{
    background-color: rgb(16, 15, 27);
    height: 100px;
    width: 100%;
}


#X {
    color: whitesmoke;
    padding: 34px;
    margin: 0;
    text-align: right;
}


#Y {
    color: whitesmoke;
    padding: 34px;
    margin: 0;
}


#block-2-3-6 {
    width: 47.395vw;
    height: 100%;
    min-height: 15px;
    display: inline-block;
    margin: 0;
    margin-right: 5vw;
}


#block-4-5 {
    width: 47.395vw;
    height: 100%;
    min-height: 15px;
    display: inline-block;
}


#block-2-3 {
    width: 47.395vw;
    height: 100%;
    min-height: 5px;
    margin: 0;
    margin-bottom: 5px;
}


#block-2 {
    width: 20vw;
    height: 100%;
    min-height: 5px;
    display: inline-block;
    margin: 0;
    margin-right: 7.1vw;
}


#block-3 {
    width: 20vw;
    height: 100%;
    min-height: 5px;
    display: inline-block;
}


#block-4 {
    width: 20vw;
    height: 100%;
    min-height: 15px;
    display: inline-block;
    margin: 0;
    margin-right: 7.1vw;
}


#block-5 {
    width: 20vw;
    height: 100%;
    min-height: 15px;
    display: inline-block;
}


#block-6 {
    width: 47.395vw;
    height: 100%;
    min-height: 5px;
}